## create empty pandas dataframe

In [1]:
import pandas as pd
df = pd.DataFrame(columns=['columnA','columnB'])

## create DF from list

In [2]:
months = ['Jan','Apr','Mar','June']
days = [31,30,31,30]

d = {'Month':months,'Day':days}
df = pd.DataFrame(d)

print (df)

   Day Month
0   31   Jan
1   30   Apr
2   31   Mar
3   30  June

## convert pandas column to list

In [3]:
import pandas as pd
df = pd.DataFrame(columns=['Month','Day'])

In [4]:
dfToList = df['Month'].tolist()
print (dfToList)

[]

## apply on rows on coloumns based on two other columns

In [5]:
import pandas as pd

df = pd.DataFrame({'ID':['1','2','3'], 'col_1': [0,2,3], 'col_2':[1,4,5]})
mylist = ['a','b','c','d','e','f']

In [6]:
df

  ID  col_1  col_2
0  1      0      1
1  2      2      4
2  3      3      5

In [7]:
def f(x):    
    return x['col_1'] + x['col_2']

In [8]:
df['col_3']= df.apply(f, axis=1)
df

  ID  col_1  col_2  col_3
0  1      0      1      1
1  2      2      4      6
2  3      3      5      8

## rename columns

In [9]:
df = df.rename(columns={'col_1': 'column_1'})
df

  ID  column_1  col_2  col_3
0  1         0      1      1
1  2         2      4      6
2  3         3      5      8