## create empty pandas dataframe

In [1]:
import pandas as pd
df = pd.DataFrame(columns=['columnA','columnB'])

## create DF from list

In [2]:
months = ['Jan','Apr','Mar','June']
days = [31,30,31,30]

d = {'Month':months,'Day':days}
df = pd.DataFrame(d)

print (df)

   Day Month
0   31   Jan
1   30   Apr
2   31   Mar
3   30  June

## convert pandas column to list

In [3]:
import pandas as pd
df = pd.DataFrame(columns=['Month','Day'])

In [4]:
dfToList = df['Month'].tolist()
print (dfToList)

[]

## apply on rows on coloumns based on two other columns

In [21]:
import pandas as pd

df = pd.DataFrame({'ID':['1','2','3'], 'col_1': [0,2,3], 'col_2':[1,4,5]})
mylist = ['a','b','c','d','e','f']

In [22]:
df

  ID  col_1  col_2
0  1      0      1
1  2      2      4
2  3      3      5

In [7]:
def f(x):    
    return x['col_1'] + x['col_2']

In [8]:
df['col_3']= df.apply(f, axis=1)
df

  ID  col_1  col_2  col_3
0  1      0      1      1
1  2      2      4      6
2  3      3      5      8

## rename columns

In [9]:
df = df.rename(columns={'col_1': 'column_1'})
df

  ID  column_1  col_2  col_3
0  1         0      1      1
1  2         2      4      6
2  3         3      5      8

## minimum value between column values and constant

In [19]:
import numpy as np
df['column_1'] = np.minimum(.024,df['col_2']/200)
df

  ID  column_1  col_2  col_3
0  1     0.005      1      1
1  2     0.020      4      6
2  3     0.024      5      8

## conditionally change df column values based on condition on other column

In [25]:
 df.loc[df['col_1']>1,'col_2'] = 100
df

  ID  col_1  col_2
0  1      0      1
1  2      2    100
2  3      3    100

## filter df when cells contain lists

In [3]:
import pandas as pd

d = {'foo':[[100,200,300], [111,112,113], [222,333,444]],
     'bar':[[500,600,700], [999,888], [110,120]]}
df = pd.DataFrame(d)


print(df)

df=df.astype(str)

df = df[df['foo'].str.contains('100', na = False)]

print(df)

               bar              foo
0  [500, 600, 700]  [100, 200, 300]
1       [999, 888]  [111, 112, 113]
2       [110, 120]  [222, 333, 444]
               bar              foo
0  [500, 600, 700]  [100, 200, 300]

## using str as expression

In [5]:
x1=0
x2=0
x3=0
s = "10 * x1 + 4 * x2 + 5 * x3"
expr = eval(s)
expr

0